@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .choice-image{
    display: flex;
    column-gap: 7rem;
}

.container .choice-image img{
    width: 100px;
}
.container .choice-image .user-choice{
    transform: rotate(90deg);
}
.container .choice-image .bot-choice{
    transform: rotate(-90deg) rotateY(180deg);
}